<h1>{{data}}</h1>
<p>Welcome to AssetList</p>


<script>
    $.ajax({
        type: "GET",
        url: "/login/assetList",
        data: loginData,
        success: function (result) {
            // do something.
            console.log()
        },
        error: function (result) {
            // do something.
        }
    });
</script>